DISCORD_TOKEN=""
CANVAS_API=""

ANNOUNCEMENT_CHANNEL_ID=""
CANVAS_COURSES_URL="https://<YOUR-CANVAS-LINK>/api/v1/courses?enrollment_state=active"
CANVAS_BASE_URL="https://<YOUR-CANVAS-LINK>/api/v1"

DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""
PUSHER_USE_TLS=""